/*
global*/
h1,h2,h3,h4,h5,h6,span,div,img,html,body,p,ul,li,ol,dd,dt,dl{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #828282;
}
/*
header*/
body{
	font-family: "微软雅黑";
	font-size:14px;
	color: #828282;
}
header{
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	overflow: hidden;
	line-height: 40px;
	color: #aca6ae;
	background-color: #1e232b;
	z-index: 100;
}
header span{
	font-size: 18px;
	margin: auto;
}
.nav{
	width: 180px;
	padding-left: 14px;
	margin: 0 15px;
	cursor: pointer;
}
.position{
	right: 5px;
}
.sub-nav{
	display: none;
	font-size: 14px;
	position: fixed;
	top: 46px;
	margin-left:15px;
	cursor: pointer;
}
ul{
	list-style: none;
}
.sub-nav ul li{
	width: 180px;
	height: 45px;
	line-height: 45px;
	padding-left: 14px;
	background-color: #1e232b;
}
.self-info{
	position: absolute;
	width: 170px;
	top: 0;
	right: 0;
	overflow: hidden;
}
.self-info img{
	position: absolute;
	right: 0;
	vertical-align: top;
	width: 45px;
	height: 45px;
}

/*
body*/
.wrap{
	width: 100%;
	margin-top: 70px;
	font-size: 16px;
}
.content{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
.file-view{
	

}
.content nav{
	width: 220px;
	height: 30px;
}
.content nav li{
	float: left;
	height: 30px;
	line-height: 30px;
	color: #828282;
	padding: 0 5px;
	border: 2px solid #fff;
	
	background-color: #fff;
}
.li-current{
	float: left;
	height: 30px;
	line-height: 30px;
	border: 2px solid ;

	background-color: #fff;
}
.underline{
	width: 100%;
	position: relative;
	top: 2px;
	border-bottom: 2px solid #c4c4c4;
}
.upload-file{
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #fff;
	border-radius: 3px;
	background-color: #96d2f2;
	font-size: 16px;
	text-align: center;
}
.file-view .file-list{
	height: 250px;
	position: relative;
	overflow: auto;
	clear: both;
}
.file-list li{
	width: 100%;
	height: 40px;
	float: left;
	line-height: 40px;
}
.file-list ul{
	position: relative;
	top: 20px;
}
.file-list .icon{


	padding: 15px;
}
.file-list .option{
	float: right;
	font-size: 0;
}
.file-list .clicked{
	background-color: #eee;
}
.option span{
	font-size: 18px;
	padding: 11px ;
	background-color: #eee;
}
.option a{
	color: #000;		
}
.option .hover{
	background-color: #ddd;
}
.pre-print{
	margin-top: 20px;
}
.pre-print strong{

	font-size: 20px;
	color: #000;
}
.pre-print .file-list{
	height: 180px;
	position: relative;
	overflow: auto;
	clear: both;
}